<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetGoProject"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjRoWlA-3QiL23KMWnc52mjTiPm3-4lBU" />

        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".ChatBoxActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".AvatarActvity"/>
        <activity android:name=".CommentActivity" />
        <activity android:name=".NewPasswordActivity" />
        <activity android:name=".CameraActivity"/>
        <activity android:name=".HotelActivity"/>
        <activity android:name=".DetailHotelActivity"/>
        <activity android:name=".LocationActivity"/>
        <activity android:name=".ChangeProfileActivity"/>
        <activity android:name=".PackageActivity"/>
        <activity android:name=".PaymentMethodActivity"/>
        <activity android:name=".TransactionActivity"/>
    </application>

</manifest>